body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  min-height: 90vh;
}

.amount{
  font-weight: bold;
}

.loader{
  width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-text{
  font-weight: 600;
  text-align: center;
  font-size: 32px;
}

.spinner-border{
  width: 100px !important;
  height: 100px !important;
  margin-right: 32px;
}